.common__section {
    background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.564)), url('../assets/images/common-section-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common__section h1 {
    color: #fff;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .common__section {
        padding: 70px 0;
    }

    .common__section h1 {
        font-size: 1.4rem;
    }
}